 @charset "UTF-8";
 @import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400;500;700&family=Ubuntu:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding:0;
}


:root{
    --fonte_principal:'Ubuntu', sans-serif;
    --fonte_segundaria:'Alkatra', cursive;

    --cor0:#00a9a5;
    --cor1:#0b5351;
    --cor2: #092327;
    --cor3:#d3fad6;
    --cor4:#d9dfda;
    --cor5:#00000053;
}


body{

    background-color: var();
}
header > h1{
    background-image:linear-gradient(to left,var(),var());
    font-size: 5em;
    text-align: center;
    max-width: 1000px;
    margin: auto;
    font-family: var(--fonte_principal);
    
}

main{
    background-color:var(--cor4);
    min-width: 320px;
    max-width: 800px;
    margin: auto;
    margin-top: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.405);
}

form{
    margin-top: 40px;
}

label{
    font-size: 1.5em;
    margin-left: 20px;
    padding-bottom: 15px;
}

input{
    font-size: 1.1em;
    max-width: 120px;
    border-radius: 2px;

}
#botao{
    
    text-align: center;
    width: 200px;
    height: 60px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.5em;
    
}

footer{
    background-color: var();
    
}

footer >p{
    margin-left: 20px;
}

footer>ul>li>a{
    text-decoration: none;
    color: var(--cor1);
}

#resultado{ 
    text-align: center;
    font-size: 2em;
    background-color:var(--cor5);
    border-radius: 10px;
    margin: auto;
    
}

#resultado > img{
   padding: 30px;
   border-radius: 50px;

    

}