<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Teste do Modelo</title>
  <link rel="stylesheet" href="/static/bootstrap.css">
  <link rel="stylesheet" href="/static/estilo.css">

</head>
<header>
  <h1>{{ titulo }}</h1>
</header>

<body>




  <main>
    <form action="{{ url_for('classifica') }}" method="post" enctype="multipart/form-data">


      <div>
        <label for="SalarioM">Sálario medio </label>
        <input type="number" id="SalarioM" name="SalarioM">
      </div>

      <div>
        <label for="NumeroEmp">Número de empregos</label>
        <input type="number" id="NumeroEmp" name="NumeroEmp">
      </div>

      <div>
        <label for="CustoM">Custo de moradia</label>
        <input type="number" id="CustoM" name="CustoM">
      </div>

      <div>
        <label for="CustoV">Custo de vida </label>
        <input type="number" id="CustoV" name="CustoV">
      </div>

      <div>
        <label for="Cidade">Cidade</label>
        <input type="text" id="Cidade" name="Cidade">
      </div>

      <div>
        <label for="Alug">Aluguel</label>
        <input type="number" id="Alug" name="Alug">
      </div>

      <div>
        <label for="PoderCompra">Poder de compra local</label>
        <input type="number" id="PoderCompra" name="PoderCompra">

      </div>
      <div class="text-center">
        <button onclick="operacao()" type="button" id="botao" class="btn btn-outline-success"
          value="Enviar">Enviar</button>
      </div>

    </form>

    <section id="resultado">



    </section>
  </main>

  <footer>

    <p>&copy copyright
    <ul>
      <li> <a href="https://github.com/FortunatoRoncholeta">Fortunato Roncholeta</a> </li>
      <li> <a href="https://github.com/isaias-s-souza">Isaias Santos de Souza</a> </li>
      <li> <a href="https://github.com/maria2122">Maria Jaqueline Dos Santos Silva</a> </li>

    </ul>


    </p>
  </footer>
  <script>
    function operacao() {

      let resultado = document.getElementById(`resultado`)

      resultado.innerHTML = `testando aqui`


    }



  </script>
</body>

</html>