<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Teste do Modelo</title>
  <link rel="stylesheet" href="/static/bootstrap.css">
  <link rel="stylesheet" href="/static/estilo.css">

</head>
<header>
  <h1>{{ titulo }}</h1>
</header>

<body>




  <main>
    <form action="/classifica" method="post" enctype="multipart/form-data">


      <div>
        <label for="TamanhoM">Tamanho do Motor</label>
        <input type="number" id="TamanhoM" name="TamanhoM">
      </div>

      <div>
        <label for="PesoC">Peso do carro</label>
        <input type="number" id="PesoC" name="PesoC">
      </div>

      <div>
        <label for="Potencia">Potencia</label>
        <input type="number" id="Potencia" name="Potencia">
      </div>

      <div>
        <label for="Comprimento">Comprimento </label>
        <input type="number" id="Comprimento" name="Comprimento">
      </div>

      <div>
        <label for="Altura">Altura</label>
        <input type="number" id="Altura" name="Altura">
      </div>

      <div>
        <label for="TipoR">Tipo de roda</label>
        <input type="number" id="TipoR" name="TipoR">
      </div>

      <div>
        <label for="cilindros">4 cilindros</label>
        <input type="number" id="cilindros" name="cilindros">

      </div>

      <div>
        <label for="consumoR">Consumo rodovia</label>
        <input type="number" id="consumoR" name="consumoR">

      </div>

      <div>
        <label for="consumoC">Consumo cidade</label>
        <input type="number" id="consumoC" name="consumoC">

      </div>

      <div class="text-center">
        <button onclick="operacao()" type="button-submit" id="botao" class="btn btn-outline-success"
          value="Enviar">Enviar</button>
      </div>

    </form>

    <section>

      <div id="resultado">

      </div>

    </section>

  </main>

  <footer>

    <p>&copy copyright
    <ul>
      <li> <a href="https://github.com/FortunatoRoncholeta">Fortunato Roncholeta</a> </li>
      <li> <a href="https://github.com/isaias-s-souza">Isaias Santos de Souza</a> </li>
      <li> <a href="https://github.com/maria2122">Maria Jaqueline Dos Santos Silva</a> </li>

    </ul>


    </p>
  </footer>
  <script>
    function operacao() {

      let resultado = document.getElementById(`resultado`)
      resultado.innerHTML = `{{ resultado }}`


      var img = document.createElement('img')
      img.setAttribute('src', '../static/img/carro1.gif')
      resultado.appendChild(img)



    }



  </script>
</body>

</html>