<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Teste do Modelo</title>
  <link rel="stylesheet" href="/static/bootstrap.css">
  <link rel="stylesheet" href="/static/estilo.css">

</head>
<header>
  <h1>{{ Xtitulo }}</h1>
</header>

<body onload="teste()">




  <main>
    <form id="formulario" action="/classifica" method="post" enctype="multipart/form-data">


      <div>
        <label for="TamanhoM">Tamanho do Motor</label>
        <input type="number" step="any" id="TamanhoM" placeholder="digite um valor" name="TamanhoM" required>
      </div>

      <div>
        <label for="PesoC">Peso do carro</label>
        <input type="number" step="any" id="PesoC" placeholder="digite um valor" name="PesoC" required>
      </div>

      <div>
        <label for="Potencia">Potencia</label>
        <input type="number" step="any" id="Potencia" placeholder="digite um valor" name="Potencia" required>
      </div>

      <div>
        <label for="Comprimento">Comprimento </label>
        <input type="number" step="any" id="Comprimento" placeholder="digite um valor" name="Comprimento" required>
      </div>

      <div>
        <label for="Altura">Altura</label>
        <input type="number" step="any" id="Altura" placeholder="digite um valor" name="Altura" required>
      </div>

      <div>
        <label for="TipoR">Tipo de roda</label>
        <input type="number" step="any" id="TipoR" placeholder="digite um valor" name="TipoR" required>
      </div>

      <div>
        <label for="cilindros">4 cilindros</label>
        <input type="number" step="any" id="cilindros" placeholder="digite um valor" name="cilindros" required>

      </div>

      <div>
        <label for="consumoR">Consumo rodovia</label>
        <input type="number" step="any" id="consumoR" placeholder="digite um valor" name="consumoR" required>

      </div>

      <div>
        <label for="consumoC">Consumo cidade</label>
        <input type="number" step="any" id="consumoC" placeholder="digite um valor" name="consumoC" required>

      </div>

      <div class="text-center">
        <button onclick="operacao()" type="button-submit" id="botao" class="btn btn-outline-success"
          value="Enviar">Enviar</button>
      </div>

    </form>

    <section>

      <div id="resultado">


      </div>

    </section>

  </main>

  <footer>

    <p>&copy copyright
    <ul>
      <li> <a href="https://github.com/FortunatoRoncholeta">Fortunato Roncholeta</a> </li>
      <li> <a href="https://github.com/isaias-s-souza">Isaias Santos de Souza</a> </li>
      <li> <a href="https://github.com/maria2122">Maria Jaqueline Dos Santos Silva</a> </li>

    </ul>


    </p>
  </footer>

</body>
<script>
  const form = document.querySelector('#formulario');

  form.addEventListener('submit', function (event) {
    event.preventDefault(); // previne o envio normal do formulário
    const data = new FormData(form); // cria um objeto FormData com os dados do formulário
    const xhr = new XMLHttpRequest(); // cria uma nova solicitação XMLHttpRequest

    xhr.open('POST', '/classifica'); // define a URL e o método HTTP
    xhr.onload = function () { // lida com a resposta da solicitação
      if (xhr.status === 200) {

        const response = JSON.parse(xhr.responseText); // obtém a resposta como um objeto JavaScript
        console.log(response); // faz algo com a resposta
        let resultado = document.getElementById(`resultado`)
        console.log('foi');

        resultado.innerHTML = 'O valor aproximado do seu veiculo será de: <br>' + 'R$' + response.resultado

        var img = document.createElement('img')
        img.setAttribute('src', '../static/img/carro1.gif')
        resultado.appendChild(img)

      } else {
        console.log('Erro ao enviar dados: ' + xhr.status); // lida com erros
      }
    };

    xhr.send(data); // envia a solicitação com os dados do formulário
  });
</script>

</html>